.header {
    padding: 20px 24px;
}
.header__text-discribe {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 2.875rem;
    font-family: "Rubik", sans-serif;
}
.header__text-offer {
    color: var(--text-color);
    font-weight: 500;
    font-size: 1.1875rem;  
    font-family: "Poppins", system-ui;
}
.header__social-link {
    fill: var(--social-logo-color);
    text-decoration: none;
}
.header__menu-link {
    color: var(--add-text-color);
    text-decoration: none;
    font-family: "Poppins", system-ui;
}
.header__menu-link:hover {
    color: var(--social-logo-color);
    text-decoration: underline;
}