.our-clients__cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-content: center;
}

.our-clients__card {
    background-color: var(--fon-card-color);
    border: var(--fon-card-color) solid 1px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    padding: 24px;
    width: 100%;
    min-height: 450px;
}
.our-clients__card .photo {
    width: 70px;
    height: 70px;
}
.our-clients__card .text {
    color: var(--add-text-color);
    font-size: 17px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

@media (min-width: 540px) {
    .our-clients__cards {
        grid-template-columns: 1fr 1fr;
    }

}

@media (min-width: 720px) {
    .our-clients__cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .our-clients__card .photo {
        width: 120px;
        height: 120px;
    }
}