<section class="our-team container">
    <h2>Meet Our Team</h2>
    <p class="subtitle-text">Each member of our Best.Pet family loves animals and is trained to look after them.
    </p>
    <div class="our-team__cards">
        <div class="card">
            <img class="photo" src="../img/our-team-sister.webp" alt="a woman with red cat">
            <h4 class="name">Alina Maisner</h4>
            <p class="data">Pet Sitter</p>
        </div>
        <div class="card">
            <img class="photo" src="../img/our-team-veterenaria.webp" alt="a woman wiht long dark hair">
            <h4 class="name">Jessica Shimmer</h4>
            <p class="data">Veterinarian</p>
        </div>
        <div class="card">
            <img class="photo" src="../img/our-team-groomer.webp" alt="a woman with gris and white dog">
            <h4 class="name">Mary Douglas</h4>
            <p class="data">Groomer</p>
        </div>
    </div>
</section>