<section class="our-help section">
    <div class="our-help__container">
        <div class="discribe">
        <h2 class="our-help__title">Why You Need Our Help</h2>
        <p class="subtitle-text our-help__title">You may be out for a while or too busy to give your pet the care it
            deserves, and our
            services will come in
            handy:</p>
            <ul class="our-help__services">
                <li class="iteam">
                    <img class="icon" src="img/icon.svg" alt="a red heart">
                    <p class="text">You will be sure your pet is eating the right food;</p>
                </li>
                <li class="iteam">
                    <img class="icon" src="img/icon.svg" alt="a red heart">
                    <p class="text">Our staff will make sure your pet is healthy;</p>
                </li>
                <li class="iteam">
                    <img class="icon" src="img/icon.svg" alt="a red heart">
                    <p class="text">We take your dogs for a walk on schedule;</p>
                </li>
                <li class="iteam">
                    <img class="icon" src="img/icon.svg" alt="a red heart">
                    <p class="text">No need to ask your friends to stay with your pet;</p>
                </li>
                <li class="iteam">
                    <img class="icon" src="img/icon.svg" alt="a red heart">
                    <p class="text">We'll give your pets a bath and groom them on time.</p>
                </li>
            </ul>
            <p class="our-help__addtext"><span class="our-help__addtext-accent">*</span> We can provide <span
                    class="our-help__addtext-accent">one-time or regular</span> care for your pet.</p>
        </div>
        <div class="our-help__picture">
            <img src="../img/our-help-picture.webp" alt="a white and brown rabbit">
        </div>
    </div>
</section>