<section class="our-clients section">
  <h2 class="our-clients__title">Our Clients About Us</h2>
  <p class="subtitle-text">
    If pets could talk, here's they'd tell about us (according to their owners).
  </p>
  <div class="our-clients__cards">
    <div class="our-clients__card">
      <img
        class="photo"
        src="../img/card_client-parrot.webp"
        alt="the gray parrot"
      />
      <h4 class="title">Jokie</h4>
      <div class="line"></div>
      <p class="text">
        “My parents were worried about my health as I didn't want to eat at all.
        A vet at Best.Pet helped them a lot, explained the peculiarities of
        parrots feeding, and offered a special meal plan. Yummy!”
      </p>
      <div class="data">October 28, 2021</div>
    </div>
    <div class="our-clients__card">
      <img
        class="photo"
        src="../img/card-client-dog.webp"
        alt="the brown little dog"
      />
      <h4 class="title">Axel</h4>
      <div class="line"></div>
      <p class="text">
        “When Mummy traveled abroad, she couldn't take me with her. So, she
        called Best.Pet, and Alina came to care for me for 2 weeks. I really
        liked Alina; we had so much fun and enjoyed long walks."
      </p>
      <div class="data">March 03, 2021</div>
    </div>
    <div class="our-clients__card">
      <img
        class="photo"
        src="../img/card-client-cat.webp"
        alt="the grey cat with green eye"
      />
      <h4 class="title">Milo</h4>
      <div class="line"></div>
      <p class="text">
        "I have to take medications regularly. When my parents decided to go on
        a vacation, they were worried about my feeding. They called a pet sitter
        Mary, and we liked each other so much!"
      </p>
      <div class="data">December 12, 2022</div>
    </div>
  </div>
</section>
